@import "compass/css3";

/*
* Semantic elements
*/

h1, h2, h3, h4{
	font-weight: 100;
}

input {
}

textarea {
}

ul{

}

/*
* Links
*/

a {
	color: $accent_cl;

	&:hover {
		text-decoration: underline;
		color: $accent_cl;
	}
}

/*
* Structural elements
*/

body {
	font-family: $body_font;
	font-weight: 300;
    line-height: 2;
}

::selection {
	background-color: $accent_cl;
	color: $text_on_accent;
}