@import "../variables";

.banner {
    height: 650px;
    overflow: hidden;
    margin-top: -150px;
    z-index: 1;


    img {
        width: 100%; 
    }
}

@media screen and (min-width: 1200px) and (max-width: 1320px) {
    .banner {
        height: 585px;
    }
}

@media #{$max-tablet} {
    .banner {
        height: 500px; 
    }
}

@media #{$max-mobile} {
    .banner {
        margin-top: -30px;
    }
}