@import "../variables";

.banner {
    height: 650px;
    overflow: hidden;
    margin-top: -150px;
    z-index: 1;


    img {
        width: 100%; 
    }
    
    & + .container {
        background: white;
        margin-top: -250px;
        z-index: 99999;
        position: relative;
        @include box-shadow(1px 1px 3px #ccc);
        .main {
            padding: 10px 20px;
        }
    }
}