@import "../variables";

footer {
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100%;
	@include background(linear-gradient(to bottom, #353535 0%,#212121 100%));
	color: #fff;
	font: 300 1em $special_font;

	a {
		color: #fff;
	}

	.container {
		padding-top: 30px;
		padding-bottom: 25px;
	}
}