@import "../variables";

header {
	padding-top: 10px;
	font: 300 1.5em $special_font;
	background-color: $header_bg;
	color: $header_text_cl;
	z-index: 100;
	position: fixed;
	width: 100%;

	ul {
		padding: {
			left: 0;
			top: 20px;
			bottom: 37px;
		}
		list-style: none;

		li {
			display: inline-block;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			a {
				text-decoration: none;
				color: $text_on_accent;
				position: relative;
				padding: 10px;

				&::before, &::after {
					position: absolute;
					left: 50%;
					@include transform(translate(-50%, 0));
					opacity: 0;
				}

				&::before {
					content: "";
					width: 0;
					@include transition(width ease-out .5s, opacity ease-out .1s);
				}

				&::after {
					content: "o";
					@include transition(opacity linear .1s);
					bottom: -2px;
					line-height: 10px;
					background-color: $accent_cl;
				}

				&:focus, &:hover {
					color: $text_on_accent;
					text-decoration: none;
				}

				&:hover {
					&::before {
						content: "";
						border-bottom: 1px solid $text_on_accent;
						width: 100%;
						bottom: 0px;
					}
					
					&::after, &::before {
						opacity: 1;
					}

				}
			}
		}
	}
}

.logo {
	@include border-radius(100%);
	display: block;
	float: left;
	margin-right: 15px;
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 141%;
}

.logo-wrap {
	position: relative;
	padding: 10px 20px 20px 130px;

	a, a:hover {
		text-decoration: none;
		color: #fff;
		display: block;
	}
	.name {
		font: 1.8em $logo_font;
		margin-top: 15px;
		line-height: .8em;
	}

	.surname {
		margin-left: 15px;
	}
}

@media #{$min-mobile} {
	header ul {
		@include transition-property(padding margin-top);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in-out);
	}
	header.scroll {
    	.logo {
        	max-width: 0;
        	max-height: 0;
        	@include transition(max-width max-height);
        	@include transition-duration(0.5s);
        	@include transition-timing-function(ease-in-out);

    	}
    	.logo-wrap {
        	font-size: .7em;
        	padding: 0 0 0 20px;
        	@include transition-property(font-size padding);
        	@include transition-duration(0.5s);
			@include transition-timing-function(ease-in-out);

     	   .name {
				margin-top: 0;
				@include transition(margin-top 0.5s ease-in-out);
        	}

        	.surname {
            	margin-left: 0px;
            	margin-top: 12px;
            	@include transition(margin 0.5s ease-in-out);
        	}
    	}
    	ul {
	        padding-top: 0;
    	    padding-bottom: 0;
        	margin-top: -5px;
        	@include transition-property(padding margin-top);
        	@include transition-duration(0.5s);
        	@include transition-timing-function(ease-in-out);

			li a {
				&::after {
					@include border-radius(100%);
					height: 15px;
					width: 15px;
					line-height: 8px;
					text-align: -webkit-center;
					text-align: center;
					bottom: -5px;
				}
				&::before {
					bottom: 2px;
				}
			}
    	}
	}

	.logo {
		@include transition-property(max-width max-height);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in-out);
	}
	
	.logo-wrap {
		@include transition-property(font-size padding);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in-out);
	}

	.name {
		@include transition(margin-top 0.5s ease-in-out);
	}

	.surname {
		@include transition(margin 0.5s ease-in-out);
	}
}

@media #{$max-mobile} {
    header {
		position: relative;
		margin-bottom: 20px;
		padding-bottom: 10px;
		padding-top: 0;
		background: rgb(101, 204, 200);

		ul {
			padding-bottom: 0;
			margin-top: -100px;
			@include transition-property(margin-top);
            @include transition-duration(1s);
            @include transition-timing-function(ease-in-out);	
		}

		&.open ul {
			margin-top: 0;
			@include transition-property(margin-top);
            @include transition-duration(1s);
            @include transition-timing-function(ease-in-out);
		}
	}
	.logo-wrap {
		z-index: 40;
		padding: 10px 20px 0;
		background: rgb(101, 204, 200);

		& > a {
			float: left;
			padding: {
				left: 75px;
				top: 5px;
			}
		}

		.logo {
			top: 5px;
			left: 20px;
		}

		.name {
			font-size: 1.8em;
			line-height: .8em;
		}

		.surname {
			margin-left: 0;
		}
	}
}

@media #{$max-mobile-portrait} {
    header {
		padding: 0;
		.logo {
			display: none;
		}
		ul {
			text-align: center;
			padding-top: 0;
			@include clearfix;
			li {
				width: 50%;
				margin: 0;
				margin-top: 10px;
				float: left;
			}
		}

		.nav_wrap {
			min-height: 0;
		}
	}

	.logo-wrap {
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: 1px solid #fff;
		
		& > a {
			padding-left: 0;
		}
		.name {
			font-size: 26px;
		}
	}
}