@import "../variables";

.site {
	padding-top: 150px;
	margin-bottom: 80px;
	position: relative;
	z-index: 50;
	background: $main_bg_cl;
    
    @media #{$max-mobile} {
        padding-top: 0;
        margin-bottom: 105px;
    }
}

.about-wrap {
    background: $about_bg_cl;
    .container {
        background: white;
        margin-top: -250px;
        z-index: 99999;
        position: relative;
        @include box-shadow($container_text_shadow);
        .main {
            padding: 10px 20px;
            @media #{$max-mobile} {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }  
}

#home {
    @media #{$max-tablet} {
		h2 {
			clear: both;
		}
	}
}

#contact {
	text-align: right;
	padding-bottom: 30px;
    background-image: url(../../../img/tablet-img.jpg);
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size: 100% auto;
    height: 1000px;
    position: relative;
    
    .container {
        position: absolute;
        top: 45%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
 
	h1 {
		margin-top: $contact_h1_mt;
		margin-bottom: $contact_h1_mt/2;
	}
    
    @media screen and (max-width: 1680px) {
        height: 800px;
    }
    
    @media #{$max-desktop-max} {
        height: 650px;
        h1 {
            margin-top: 70px;
            margin-bottom: 30px; 
        }
    }
    
    @media screen and (max-width: 1250px) {
        height: 600px;
        font-size: .9em;
        line-height: 1.5;
        h1 {
            margin-top: 0px; 
        }
    }
    
    @media screen and (max-width: 1070px) {
        height: 500px;    
    }
    
    @media #{$max-tablet-portrait} {
        height: 500px;    
    }
    
    @media #{$max-mobile} {
        text-align: center;
        background-position-y: center;
        background-position-x: center;
        background-size: 800px auto; 
        font-size: .9em;
        height: 500px;
        .container {
            position: relative;
        }
		h1 {
			margin-top: 80px;
		}
    }
}

#cv {
	position: relative;

	img {
		position: absolute;
		right: 0;
	}

	p {
		@include clearfix;
	}

	h3 {
		border-bottom: 1px solid rgba(101, 204, 200, 0.95);
  		width: 50%;
  		padding-bottom: 10px;
  		margin-bottom: 25px;
		margin-top: 35px;
	}
}

#about {
	font-size: 1.1em;
}

.project {
	position: relative;
}