@import "../variables";

.big-marg-top {
	margin-top: 70px;
}

.big-marg-bt {
	margin-bottom: 70px;
}

.med-marg-top {
	margin-top: 40px;
}

.col-title {
	width: 30%;
	float: left;
    font-weight: 400;
}

.col-desc {
	width: 70%;
	float: left;

	.no-title {
		margin-left: 30%;
	}
}

.double-col {
	@include column-count(2);
	@include column-gap(30px);
}